nav {
    background-image: linear-gradient(to bottom, var(--color1), var(--color3));
    height: fit-content;
    color: var(--white-color);
    padding-bottom: 5px;
    
}

.navbar {
    text-align: center;
    
    padding-top: 15px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.281);
    
}

.navbar > h1 {
    font-size: 2.5em;
    font-family: var(--contrast-font);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.navbar > p {
    margin: 5px 5px 10px 5px;
    font-size: 1em;
    font-family: var(--normal-font);
    max-width: 600px;
    margin: auto;
}

.navbar-menu {
    text-align: left;
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.navbar-menu > a {
    text-decoration: none;
    margin: 0px 2px 0px 2px;
    color: var(--white-color);
    font-size: 15px;
    font-family: var(--normal-font);
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    transition-duration: 0.5s;
}

.navbar-menu > a:hover {
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 5px;
}