@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&display=swap');

@font-face {
    font-family: "Android";
    src: url(../assets/fontes/idroid.otf) format("opentype");
    font-weight: normal;
}

:root {
    --color1: #46E39F;
    --color2: #03DF81;
    --color3: #1D5E42;
    --color4:  #0d2b1e;
    --dark-color: black;
    --white-color: white;
    --gray-color: rgb(233, 255, 230);

    --normal-font: Arial, Verdana, Helvetica, sans-serif;
    --contrast-font: 'Bebas Neue', sans-serif;
    --special-font: 'Android', sans-serif;
}