@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&display=swap');

@font-face {
    font-family: "Android";
    src: url(../assets/fontes/idroid.otf) format("opentype");
    font-weight: normal;
}

:root {
    --color1: #F2D307;
    --color2: #9D9039;
    --color3: #4332B3;
    --color4:  #2707F2;
    --color5: #30343F;
    
    --normal-font: Arial, Verdana, Helvetica, sans-serif;
    --contrast-font: 'Bebas Neue', sans-serif;
    --special-font: 'Android', sans-serif;
}